In [196]:
import pandas as pd
import numpy as np

In [197]:
data = pd.read_csv("/content/raw_data_unmodified.csv")

In [198]:
data.head(2)

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?每,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?每,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN

In [199]:
# Import Data To SQL
import sqlite3
#import sqlalchemy

In [200]:
# Connection To The DataBase
conn = sqlite3.connect("/content/raw_data_unmodified.sqlite3")

In [201]:
# Write DataFrame to SQL database
data.to_sql('data', conn, if_exists = 'replace', index = False) # Write the dataframe 'data' to a SQL table named 'data'

14

In [202]:
# Read SQL Query Table into DataFrame
data_sql = pd.read_sql("SELECT * FROM data", conn)

In [203]:
data_sql.head(2)

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?每,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?每,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN

In [234]:
data_sql.tail(2)

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
12,Quantum of Solace?每,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?每,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [195]:
conn.close() # Close the database connection

# **How To Preview Data in SQL**

In [209]:
# Activate SQL Magic
%load_ext sql

In [219]:
# How To Load Database in SQL
%sql sqlite:///raw_data_unmodified.sqlite3

In [235]:
# Method:1 "Line Oriented"
%sql SELECT * FROM data;

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 723, 178.0, '10', 855, 1000, 760505847, 886204.0, 4834.0, None, 3054, 237000000, 2009, 936.0, 7.9, 2009.0),
 ("Pirates of the Caribbean: At World's End?每", 302, None, '563', 1000, 40000, 309404152, 471220.0, 48350.0, None, 1238, 300000000, 2007, 5000.0, 7.1, None),
 ('Spectre?每', 602, 148.0, '20', 161, 11000, 200074175, 275868.0, 11700.0, 1.0, 994, 245000000, 2015, 393.0, 6.8, 2015.0),
 ('The Dark Knight Rises?每', 813, None, '22000', 23000, 27000, 448130642, 1144337.0, 106759.0, None, 2701, 250000000, 2012, 23000.0, 8.5, None),
 ('John Carter?每', 462, 132.0, '"475"', 530, 640, 73058679, 212204.0, 1873.0, 1.0, 738, 263700000, 2012, 632.0, 6.6, None),
 ('Spider-Man 3?每', 392, 156.0, '23', 4000, 24000, 336530303, 383056.0, 46055.0, None, 1902, 258000000, 2007, 11000.0, 6.2, 2007.0),
 ('Tangled?每', 324, None, '15', 284, 799, 200807262, 294810.0, None, 1.0, 387, 260000000, 2010, 553.0, 7.8, None),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, None),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, 2015.0),
 ('Harry Potter and the Half-Blood Prince?每', 375, 153.0, '282', 10000, 25000, 301956980, 321795.0, 58753.0, 3.0, 973, 250000000, 2009, 11000.0, 7.5, None),
 ('Batman v Superman: Dawn of Justice?每', 673, 183.0, None, 2000, 15000, 330249062, None, 24450.0, None, 3018, 250000000, 2016, None, 6.9, 2016.0),
 ('Superman Returns?每', 434, 169.0, None, 903, 18000, 200069408, 240396.0, None, 2.0, 2367, 209000000, 2006, 10000.0, 6.1, None),
 ('Quantum of Solace?每', 403, 106.0, '395', 393, 451, 168368427, 330784.0, 2023.0, 1.0, 1243, 200000000, 2008, 412.0, 6.7, 2008.0),
 ("Pirates of the Caribbean: Dead Man's Chest?每", 313, 151.0, '563', 1000, 40000, 423032628, 522040.0, 48486.0, 2.0, 1832, 225000000, 2006, 5000.0, 7.3, 2008.0)]

In [236]:
# Method:2 "Cell Oriented"
%%sql
SELECT * FROM data

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 723, 178.0, '10', 855, 1000, 760505847, 886204.0, 4834.0, None, 3054, 237000000, 2009, 936.0, 7.9, 2009.0),
 ("Pirates of the Caribbean: At World's End?每", 302, None, '563', 1000, 40000, 309404152, 471220.0, 48350.0, None, 1238, 300000000, 2007, 5000.0, 7.1, None),
 ('Spectre?每', 602, 148.0, '20', 161, 11000, 200074175, 275868.0, 11700.0, 1.0, 994, 245000000, 2015, 393.0, 6.8, 2015.0),
 ('The Dark Knight Rises?每', 813, None, '22000', 23000, 27000, 448130642, 1144337.0, 106759.0, None, 2701, 250000000, 2012, 23000.0, 8.5, None),
 ('John Carter?每', 462, 132.0, '"475"', 530, 640, 73058679, 212204.0, 1873.0, 1.0, 738, 263700000, 2012, 632.0, 6.6, None),
 ('Spider-Man 3?每', 392, 156.0, '23', 4000, 24000, 336530303, 383056.0, 46055.0, None, 1902, 258000000, 2007, 11000.0, 6.2, 2007.0),
 ('Tangled?每', 324, None, '15', 284, 799, 200807262, 294810.0, None, 1.0, 387, 260000000, 2010, 553.0, 7.8, None),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, None),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, 2015.0),
 ('Harry Potter and the Half-Blood Prince?每', 375, 153.0, '282', 10000, 25000, 301956980, 321795.0, 58753.0, 3.0, 973, 250000000, 2009, 11000.0, 7.5, None),
 ('Batman v Superman: Dawn of Justice?每', 673, 183.0, None, 2000, 15000, 330249062, None, 24450.0, None, 3018, 250000000, 2016, None, 6.9, 2016.0),
 ('Superman Returns?每', 434, 169.0, None, 903, 18000, 200069408, 240396.0, None, 2.0, 2367, 209000000, 2006, 10000.0, 6.1, None),
 ('Quantum of Solace?每', 403, 106.0, '395', 393, 451, 168368427, 330784.0, 2023.0, 1.0, 1243, 200000000, 2008, 412.0, 6.7, 2008.0),
 ("Pirates of the Caribbean: Dead Man's Chest?每", 313, 151.0, '563', 1000, 40000, 423032628, 522040.0, 48486.0, 2.0, 1832, 225000000, 2006, 5000.0, 7.3, 2008.0)]

# **How To Get The First N-rows**

In [265]:
%sql SELECT * FROM data LIMIT 2;

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 723, 178.0, '10', 855, 1000, 760505847, 886204.0, 4834.0, None, 3054, 237000000, 2009, 936.0, 7.9, 2009.0),
 ("Pirates of the Caribbean: At World's End?每", 302, None, '563', 1000, 40000, 309404152, 471220.0, 48350.0, None, 1238, 300000000, 2007, 5000.0, 7.1, None)]

In [237]:
%%sql
SELECT * FROM data LIMIT 2;

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 723, 178.0, '10', 855, 1000, 760505847, 886204.0, 4834.0, None, 3054, 237000000, 2009, 936.0, 7.9, 2009.0),
 ("Pirates of the Caribbean: At World's End?每", 302, None, '563', 1000, 40000, 309404152, 471220.0, 48350.0, None, 1238, 300000000, 2007, 5000.0, 7.1, None)]

# **# How To Get Table info/dtypes**

In [238]:
data.columns #Pandas

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

In [239]:
data.dtypes #Pandas

movie_title                   object
num_critic_for_reviews         int64
duration                     float64
DIRECTOR_facebook_likes       object
actor_3_facebook_likes         int64
ACTOR_1_facebook_likes         int64
gross                          int64
num_voted_users              float64
Cast_Total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews           int64
budget                         int64
title_year                     int64
ACTOR_2_facebook_likes       float64
imdb_score                   float64
title_year.1                 float64
dtype: object

In [240]:
data.describe()  #Pandas

,num_critic_for_reviews,duration,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
count,14.000000,11.000000,14.000000,14.000000,1.400000e+01,1.300000e+01,12.000000,9.000000,14.000000,1.400000e+01,14.000000,13.000000,14.000000,7.000000
mean,506.142857,150.727273,5866.142857,18206.428571,3.335836e+08,4.621578e+05,44773.583333,2.111111,1620.071429,2.462643e+08,2010.500000,8455.846154,7.171429,2011.142857
std,169.069789,21.679903,8289.592695,13905.214361,1.720674e+08,2.687059e+05,37290.813335,1.269296,866.672102,2.426823e+07,3.632122,8541.019541,0.673028,3.976119
min,302.000000,106.000000,161.000000,451.000000,7.305868e+07,2.122040e+05,1873.000000,1.000000,387.000000,2.000000e+08,2006.000000,393.000000,6.100000,2007.000000
25%,379.250000,141.000000,611.250000,3500.000000,2.002574e+08,2.948100e+05,9983.500000,1.000000,1024.750000,2.390000e+08,2007.250000,632.000000,6.725000,2008.000000
50%,448.000000,151.000000,1000.000000,21000.000000,3.198266e+08,3.830560e+05,47202.500000,2.000000,1240.500000,2.500000e+08,2009.500000,5000.000000,7.200000,2009.000000
75%,635.000000,162.500000,8500.000000,26000.000000,4.418561e+08,4.712200e+05,67064.750000,3.000000,2250.750000,2.560000e+08,2014.250000,11000.000000,7.500000,2015.000000
max,813.000000,183.000000,23000.000000,40000.000000,7.605058e+08,1.144337e+06,106759.000000,4.000000,3054.000000,3.000000e+08,2016.000000,23000.000000,8.500000,2016.000000

In [268]:
%sql PRAGMA table_info(data);  #SQL

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[(0, 'movie_title', 'TEXT', 0, None, 0),
 (1, 'num_critic_for_reviews', 'INTEGER', 0, None, 0),
 (2, 'duration', 'REAL', 0, None, 0),
 (3, 'DIRECTOR_facebook_likes', 'TEXT', 0, None, 0),
 (4, 'actor_3_facebook_likes', 'INTEGER', 0, None, 0),
 (5, 'ACTOR_1_facebook_likes', 'INTEGER', 0, None, 0),
 (6, 'gross', 'INTEGER', 0, None, 0),
 (7, 'num_voted_users', 'REAL', 0, None, 0),
 (8, 'Cast_Total_facebook_likes', 'REAL', 0, None, 0),
 (9, 'facenumber_in_poster', 'REAL', 0, None, 0),
 (10, 'num_user_for_reviews', 'INTEGER', 0, None, 0),
 (11, 'budget', 'INTEGER', 0, None, 0),
 (12, 'title_year', 'INTEGER', 0, None, 0),
 (13, 'ACTOR_2_facebook_likes', 'REAL', 0, None, 0),
 (14, 'imdb_score', 'REAL', 0, None, 0),
 (15, 'title_year.1', 'REAL', 0, None, 0)]

# **How To Select Columns/Fields**

In [253]:
data.loc[:, ["movie_title"]]  #Pandas

                                     movie_title
0                                       Avatar?每
1     Pirates of the Caribbean: At World's End?每
2                                      Spectre?每
3                        The Dark Knight Rises?每
4                                  John Carter?每
5                                 Spider-Man 3?每
6                                      Tangled?每
7                      Avengers: Age of Ultron?每
8                      Avengers: Age of Ultron?每
9       Harry Potter and the Half-Blood Prince?每
10          Batman v Superman: Dawn of Justice?每
11                            Superman Returns?每
12                           Quantum of Solace?每
13  Pirates of the Caribbean: Dead Man's Chest?每

In [252]:
data.movie_title  #Pandas

0                                         Avatar?每
1       Pirates of the Caribbean: At World's End?每
2                                        Spectre?每
3                          The Dark Knight Rises?每
4                                    John Carter?每
5                                   Spider-Man 3?每
6                                        Tangled?每
7                        Avengers: Age of Ultron?每
8                        Avengers: Age of Ultron?每
9         Harry Potter and the Half-Blood Prince?每
10            Batman v Superman: Dawn of Justice?每
11                              Superman Returns?每
12                             Quantum of Solace?每
13    Pirates of the Caribbean: Dead Man's Chest?每
Name: movie_title, dtype: object

In [277]:
data["duration"] #Pandas

0     178.0
1       NaN
2     148.0
3       NaN
4     132.0
5     156.0
6       NaN
7     141.0
8     141.0
9     153.0
10    183.0
11    169.0
12    106.0
13    151.0
Name: duration, dtype: float64

In [274]:
%%sql
SELECT movie_title FROM data;    #SQL

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每',),
 ("Pirates of the Caribbean: At World's End?每",),
 ('Spectre?每',),
 ('The Dark Knight Rises?每',),
 ('John Carter?每',),
 ('Spider-Man 3?每',),
 ('Tangled?每',),
 ('Avengers: Age of Ultron?每',),
 ('Avengers: Age of Ultron?每',),
 ('Harry Potter and the Half-Blood Prince?每',),
 ('Batman v Superman: Dawn of Justice?每',),
 ('Superman Returns?每',),
 ('Quantum of Solace?每',),
 ("Pirates of the Caribbean: Dead Man's Chest?每",)]

In [258]:
# select multiple cols/fields in Pandas
data[["movie_title", "duration"]]

                                     movie_title  duration
0                                       Avatar?每     178.0
1     Pirates of the Caribbean: At World's End?每       NaN
2                                      Spectre?每     148.0
3                        The Dark Knight Rises?每       NaN
4                                  John Carter?每     132.0
5                                 Spider-Man 3?每     156.0
6                                      Tangled?每       NaN
7                      Avengers: Age of Ultron?每     141.0
8                      Avengers: Age of Ultron?每     141.0
9       Harry Potter and the Half-Blood Prince?每     153.0
10          Batman v Superman: Dawn of Justice?每     183.0
11                            Superman Returns?每     169.0
12                           Quantum of Solace?每     106.0
13  Pirates of the Caribbean: Dead Man's Chest?每     151.0

In [259]:
# select multiple cols/fields in Pandas
data.loc[:, ["movie_title", "duration"]]

                                     movie_title  duration
0                                       Avatar?每     178.0
1     Pirates of the Caribbean: At World's End?每       NaN
2                                      Spectre?每     148.0
3                        The Dark Knight Rises?每       NaN
4                                  John Carter?每     132.0
5                                 Spider-Man 3?每     156.0
6                                      Tangled?每       NaN
7                      Avengers: Age of Ultron?每     141.0
8                      Avengers: Age of Ultron?每     141.0
9       Harry Potter and the Half-Blood Prince?每     153.0
10          Batman v Superman: Dawn of Justice?每     183.0
11                            Superman Returns?每     169.0
12                           Quantum of Solace?每     106.0
13  Pirates of the Caribbean: Dead Man's Chest?每     151.0

In [264]:
# How To Select Columns/Fields in SQL
%%sql
SELECT movie_title, duartion FROM data;

 * sqlite:///raw_data_unmodified.sqlite3
(sqlite3.OperationalError) no such column: duartion
[SQL: SELECT movie_title, duartion FROM data;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# **Condition Based Selection**

In [289]:
data[data["duration"] <= 150]   #Pandas

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
2,Spectre?每,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
4,John Carter?每,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
7,Avengers: Age of Ultron?每,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?每,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
12,Quantum of Solace?每,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0

In [288]:
data["duration"] <= 150   #Pandas

0     False
1     False
2      True
3     False
4      True
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12     True
13    False
Name: duration, dtype: bool

In [290]:
%%sql
SELECT * FROM data WHERE duration <= 150;

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Spectre?每', 602, 148.0, '20', 161, 11000, 200074175, 275868.0, 11700.0, 1.0, 994, 245000000, 2015, 393.0, 6.8, 2015.0),
 ('John Carter?每', 462, 132.0, '"475"', 530, 640, 73058679, 212204.0, 1873.0, 1.0, 738, 263700000, 2012, 632.0, 6.6, None),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, None),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, 2015.0),
 ('Quantum of Solace?每', 403, 106.0, '395', 393, 451, 168368427, 330784.0, 2023.0, 1.0, 1243, 200000000, 2008, 412.0, 6.7, 2008.0)]

# **Filter All Values In Column That Begin|End With A**

In [291]:
data["movie_title"].str.startswith("A") #Pandas

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13    False
Name: movie_title, dtype: bool

In [294]:
data[data["movie_title"].str.startswith("A")] #Pandas

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?每,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
7,Avengers: Age of Ultron?每,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?每,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0

In [295]:
data["movie_title"].str.endswith("A") #Pandas

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
Name: movie_title, dtype: bool

In [296]:
data[data["movie_title"].str.endswith("A")] #Pandas

Empty DataFrame
Columns: [movie_title, num_critic_for_reviews, duration, DIRECTOR_facebook_likes, actor_3_facebook_likes, ACTOR_1_facebook_likes, gross, num_voted_users, Cast_Total_facebook_likes, facenumber_in_poster, num_user_for_reviews, budget, title_year, ACTOR_2_facebook_likes, imdb_score, title_year.1]
Index: []

In [297]:
%%sql
SELECT * FROM data WHERE movie_title LIKE 'A%';  #SQL Start With A And Follow It By Any No Of Chars

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 723, 178.0, '10', 855, 1000, 760505847, 886204.0, 4834.0, None, 3054, 237000000, 2009, 936.0, 7.9, 2009.0),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, None),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, 2015.0)]

In [299]:
%%sql
SELECT * FROM data WHERE movie_title LIKE '%A';  #SQL End With A

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[]

# **Select Rows Which Contain Particular Term**

In [301]:
data[data["movie_title"].str.contains("Avatar")] #Pandas

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?每,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0

In [306]:
%%sql
SELECT * FROM data WHERE movie_title LIKE '%Avatar%';  #SQL

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 723, 178.0, '10', 855, 1000, 760505847, 886204.0, 4834.0, None, 3054, 237000000, 2009, 936.0, 7.9, 2009.0)]

# **Select Rows Which Contain Value**

In [312]:
data[data["movie_title"].isin(["Avatar"])] #Pandas

Empty DataFrame
Columns: [movie_title, num_critic_for_reviews, duration, DIRECTOR_facebook_likes, actor_3_facebook_likes, ACTOR_1_facebook_likes, gross, num_voted_users, Cast_Total_facebook_likes, facenumber_in_poster, num_user_for_reviews, budget, title_year, ACTOR_2_facebook_likes, imdb_score, title_year.1]
Index: []

In [314]:
%%sql
SELECT * FROM data WHERE movie_title IN ("Avatar");  #SQL

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[]

# **Select Rows Which Meet Condition From 2-cols**

In [338]:
data[(data["duration"] == 178) & (data["movie_title"].str.startswith("A"))] #Pandas

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?每,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0

In [339]:
%%sql
SELECT * FROM data WHERE duration = 178 AND movie_title LIKE 'A%';  #SQL

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 723, 178.0, '10', 855, 1000, 760505847, 886204.0, 4834.0, None, 3054, 237000000, 2009, 936.0, 7.9, 2009.0)]

In [342]:
data[(data["duration"] == 178) | (data["movie_title"].str.startswith("A"))] #Pandas

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?每,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
7,Avengers: Age of Ultron?每,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?每,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0

In [344]:
%%sql
SELECT * FROM data WHERE duration = 178 OR movie_title LIKE 'A%';  #SQL

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 723, 178.0, '10', 855, 1000, 760505847, 886204.0, 4834.0, None, 3054, 237000000, 2009, 936.0, 7.9, 2009.0),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, None),
 ('Avengers: Age of Ultron?每', 635, 141.0, '10', 19000, 26000, 458991599, 462669.0, 92000.0, 4.0, 1117, 250000000, 2015, 21000.0, 7.5, 2015.0)]

# **Checking For Unique Values**

In [345]:
data["movie_title"].unique() #Pandas

array(['Avatar?每', "Pirates of the Caribbean: At World's End?每",
       'Spectre?每', 'The Dark Knight Rises?每', 'John Carter?每',
       'Spider-Man 3?每', 'Tangled?每', 'Avengers: Age of Ultron?每',
       'Harry Potter and the Half-Blood Prince?每',
       'Batman v Superman: Dawn of Justice?每', 'Superman Returns?每',
       'Quantum of Solace?每',
       "Pirates of the Caribbean: Dead Man's Chest?每"], dtype=object)

In [346]:
%%sql
SELECT DISTINCT movie_title FROM data;  #SQL

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每',),
 ("Pirates of the Caribbean: At World's End?每",),
 ('Spectre?每',),
 ('The Dark Knight Rises?每',),
 ('John Carter?每',),
 ('Spider-Man 3?每',),
 ('Tangled?每',),
 ('Avengers: Age of Ultron?每',),
 ('Harry Potter and the Half-Blood Prince?每',),
 ('Batman v Superman: Dawn of Justice?每',),
 ('Superman Returns?每',),
 ('Quantum of Solace?每',),
 ("Pirates of the Caribbean: Dead Man's Chest?每",)]

# **Number Of Unique Values**

In [347]:
data["movie_title"].nunique() #Pandas

13

In [348]:
%%sql
SELECT COUNT(DISTINCT movie_title) FROM data;  #SQL

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[(13,)]

# **Missing Values**

In [352]:
data.isna() #Pandas

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
6,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,True
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
10,False,False,False,True,False,False,False,True,False,True,False,False,False,True,False,False
11,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [349]:
data.isna().sum() #Pandas

movie_title                  0
num_critic_for_reviews       0
duration                     3
DIRECTOR_facebook_likes      2
actor_3_facebook_likes       0
ACTOR_1_facebook_likes       0
gross                        0
num_voted_users              1
Cast_Total_facebook_likes    2
facenumber_in_poster         5
num_user_for_reviews         0
budget                       0
title_year                   0
ACTOR_2_facebook_likes       1
imdb_score                   0
title_year.1                 7
dtype: int64

In [354]:
data.isna().sum().sum() #Pandas

21

In [355]:
data.isna().any() #Pandas

movie_title                  False
num_critic_for_reviews       False
duration                      True
DIRECTOR_facebook_likes       True
actor_3_facebook_likes       False
ACTOR_1_facebook_likes       False
gross                        False
num_voted_users               True
Cast_Total_facebook_likes     True
facenumber_in_poster          True
num_user_for_reviews         False
budget                       False
title_year                   False
ACTOR_2_facebook_likes        True
imdb_score                   False
title_year.1                  True
dtype: bool

In [356]:
data.isna().any().any() #Pandas

True

In [357]:
data.isna().any().sum() #Pandas

7

In [358]:
data.isna().sum().any() #Pandas

True

In [ ]:
%sql SELECT * FROM data WHERE Region IS NULL;  #SQL

In [365]:
%sql SELECT * FROM data WHERE "duration" IS NULL;

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[("Pirates of the Caribbean: At World's End?每", 302, None, '563', 1000, 40000, 309404152, 471220.0, 48350.0, None, 1238, 300000000, 2007, 5000.0, 7.1, None),
 ('The Dark Knight Rises?每', 813, None, '22000', 23000, 27000, 448130642, 1144337.0, 106759.0, None, 2701, 250000000, 2012, 23000.0, 8.5, None),
 ('Tangled?每', 324, None, '15', 284, 799, 200807262, 294810.0, None, 1.0, 387, 260000000, 2010, 553.0, 7.8, None)]

In [364]:
%%sql
SELECT COUNT(*) - COUNT("movie_title") FROM data;

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[(0,)]

# **Value Counts**

In [367]:
#Method_01 -> Pandas
data["movie_title"].value_counts()

movie_title
Avengers: Age of Ultron?每                       2
Avatar?每                                        1
Pirates of the Caribbean: At World's End?每      1
Spectre?每                                       1
The Dark Knight Rises?每                         1
John Carter?每                                   1
Spider-Man 3?每                                  1
Tangled?每                                       1
Harry Potter and the Half-Blood Prince?每        1
Batman v Superman: Dawn of Justice?每            1
Superman Returns?每                              1
Quantum of Solace?每                             1
Pirates of the Caribbean: Dead Man's Chest?每    1
Name: count, dtype: int64

In [369]:
#Method_02 -> Pandas
data.groupby("movie_title").size()

movie_title
Avatar?每                                        1
Avengers: Age of Ultron?每                       2
Batman v Superman: Dawn of Justice?每            1
Harry Potter and the Half-Blood Prince?每        1
John Carter?每                                   1
Pirates of the Caribbean: At World's End?每      1
Pirates of the Caribbean: Dead Man's Chest?每    1
Quantum of Solace?每                             1
Spectre?每                                       1
Spider-Man 3?每                                  1
Superman Returns?每                              1
Tangled?每                                       1
The Dark Knight Rises?每                         1
dtype: int64

In [370]:
%%sql
SELECT movie_title, COUNT(*) FROM data GROUP BY movie_title;  #SQL

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 1),
 ('Avengers: Age of Ultron?每', 2),
 ('Batman v Superman: Dawn of Justice?每', 1),
 ('Harry Potter and the Half-Blood Prince?每', 1),
 ('John Carter?每', 1),
 ("Pirates of the Caribbean: At World's End?每", 1),
 ("Pirates of the Caribbean: Dead Man's Chest?每", 1),
 ('Quantum of Solace?每', 1),
 ('Spectre?每', 1),
 ('Spider-Man 3?每', 1),
 ('Superman Returns?每', 1),
 ('Tangled?每', 1),
 ('The Dark Knight Rises?每', 1)]

In [374]:
%%sql
SELECT movie_title, COUNT(*) as my_count FROM data GROUP BY movie_title; # {replace COUNT(*) name with "my_count"}

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每', 1),
 ('Avengers: Age of Ultron?每', 2),
 ('Batman v Superman: Dawn of Justice?每', 1),
 ('Harry Potter and the Half-Blood Prince?每', 1),
 ('John Carter?每', 1),
 ("Pirates of the Caribbean: At World's End?每", 1),
 ("Pirates of the Caribbean: Dead Man's Chest?每", 1),
 ('Quantum of Solace?每', 1),
 ('Spectre?每', 1),
 ('Spider-Man 3?每', 1),
 ('Superman Returns?每', 1),
 ('Tangled?每', 1),
 ('The Dark Knight Rises?每', 1)]

# **Sum/Count/Avg/Mean/Max/....**

In [375]:
data["movie_title"].count() #Pandas

14

In [376]:
data["movie_title"].sum() #Pandas

"Avatar?每Pirates of the Caribbean: At World's End?每Spectre?每The Dark Knight Rises?每John Carter?每Spider-Man 3?每Tangled?每Avengers: Age of Ultron?每Avengers: Age of Ultron?每Harry Potter and the Half-Blood Prince?每Batman v Superman: Dawn of Justice?每Superman Returns?每Quantum of Solace?每Pirates of the Caribbean: Dead Man's Chest?每"

In [378]:
data["movie_title"].min() #Pandas

'Avatar?每'

In [380]:
%%sql
SELECT MIN(movie_title) FROM data;

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('Avatar?每',)]

In [381]:
%%sql
SELECT MAX(movie_title) FROM data;

 * sqlite:///raw_data_unmodified.sqlite3
Done.

[('The Dark Knight Rises?每',)]